<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Chat</title>
  </head>
  <body>
        <h1>Chat</h1>
              <span><%= message.email %></span>
              <span ><%= message.text %></span>
              <span> [<span><%= message.date %></span>]:</span>
              
              <form
                action="/chat/admin/<%= message.id %>"
                method="post"
                role="form"
                autocomplete="off"
              >
                <div>
                  <input
                    id="response"
                    name="response"
                    type="text"
                    required
                  />
                </div>
                <div>
                  <button  type="submit">
                    Responder
                  </button>
                </div>
              </form>
          <a href="/chat">Volver al chat general</a>
      </div>
    </div>
  </body>
</html>
