<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="./chat.js" defer></script>
    <title>Chat</title>
  </head>
        <h2>Chat</h2>
        <form>
          <div>
            <div>
              <% messages.forEach(function(message) { %>
              <span><%= message.email %></span>
              <span> [<span><%= message.date %></span>]: </span>
              <span><%= message.text %></span>
              <% if(message.response) { %>
              <p>Respuesta: <%= message.response %></p>
              <% } %>
              <hr />
              <% }) %>
            </div>
          </div>
          <a href="/chat">Volver al chat general</a>
        </form>
</html>
