<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="./chat.js" defer></script>
    <title>Chat</title>
  </head>
      <div>
        <h3><%= user.email %></h1>
      </div>
      <button
      onclick="location.href = '/chat/<%= user.email %>'"
    >
      Ver mis mensajes
    </button>
      <% if (user.email === 'administrador@coder') { %>
        <button
        onclick="location.href = '/chat/admin'"
      >
        Responder
      </button>
      <% } %>    
        <h2>Chat</h2>
        <form>
          <div>
              <input
                type="text"
                name="message"
                required
                placeholder="Escribe aquí..."
              />

            <div>
              <button type="submit">Enviar!</button>
            </div>
          </div>
        </form>

</html>
